<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Blogs</h4>
        <li>
 		  <a href="http://twitter.com/ScalaFX" rel="nofollow">ScalaFX Twitter</a>
 	    </li>
 
 		<li>
 		  <a href="https://plus.google.com/u/0/communities/114426675027810611240" rel="nofollow">ScalaFX G+ Community</a>
 		</li>
 
 		<li>
 		  <a href="http://steveonjava.com/" rel="nofollow">Steve on Java</a>
 		</li>
 
 		<li>
 		  <a href="http://codingonthestaircase.wordpress.com/" rel="nofollow">Coding on the Staircase</a>
 		</li>

        <li/>

<br/>

    <h4>Groups</h4>
      <li>
        <a href="http://groups.google.com/group/scalafx-users" rel="nofollow">ScalaFX Users</a>
      </li>
 
      <li>
        <a href="http://groups.google.com/group/scalafx-dev" rel="nofollow">ScalaFX Developers</a>
      </li>
 
      <li>
        <a href="http://groups.google.com/group/scalafx-build" rel="nofollow">ScalaFX Build</a>
      </li>
    
        <br/>

    <h4>API Docs</h4>
      <li>
          <a href="api/8.0/index.html" rel="nofollow">ScalaFX 8.0 API</a>
      </li>
      <li>
        <a href="api/2.2/index.html" rel="nofollow">ScalaFX 2.2 API</a>
 	  </li>

      <br/>
 
    <h4>Related Projects</h4>
      <li>
       <a href="https://github.com/vigoo/scalafxml" rel="nofollow">ScalaFXML</a>
      </li>

      <br/>

    <h4>Example Code</h4>
      <li>
        <a href="https://github.com/scalafx/ProScalaFX/" rel="nofollow">ProScalaFX</a>
      </li>
 
      <li>
        <a href="https://github.com/scalafx/scalafx-ensemble" rel="nofollow">ScalaFX Ensemble</a>
      </li> 
 
      <li>
       <a href="https://github.com/scalafx/ScalaFX-Tutorials" rel="nofollow">ScalaFX Tutorials</a>
     </li>

      <li>
       <a href="https://github.com/scalafx/abacussfx" rel="nofollow">Abacus SFX</a>
     </li>
     
 

<br/>

  </aside>
</div>
